
.top {
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: center;
    margin-top: 100px;
}

.insert_btn {
    border: 1px solid white;
    padding: 20px 60px 20px 60px;
    border-radius: 5px;
}

.mid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.keyword_wrap {
    margin-top: 200px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
}

.keyword_wrap select {
    margin-top: 10px;
    width: 150px;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;

    color: #444;
    background-color: #fff;

    padding: 0.6em 1.4em 0.5em 0.8em;

    border: 1px solid #aaa;
    border-radius: 0.5em;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
}

.keyword_wrap select:focus {
    border-color: white;
    box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

.keytext {
    font-weight: bolder;
}

.top5 {
    margin-top: 200px;
    margin-right: 100px;
}

.top5 > span {
    margin-left: 50px;
}

.top5 > ul > li {
    margin-bottom: 25px;
    list-style:none;
    padding-left:0px;
}


#heart:hover {
    cursor: pointer;
}


.modal_wrap {
    display: none;
    width: 500px;
    height: 200px;
    position: absolute;
    top:50%;
    left: 50%;
    margin: -250px 0 0 -250px;
    background:#eee;
    z-index: 2;
}

.black_bg {
    display: none;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0,0, 0.5);
    top:0;
    left: 0;
    z-index: 1;
}

.modal_close {
    background-color: white;
    border-radius: 10px;
    width: 26px;
    height: 26px;
    position: absolute;
    top: -30px;
    right: 0;
}

.modal_close> a {
    display: block;
    width: 100%;
    height: 100%;
    background:url(https://img.icons8.com/metro/26/000000/close-window.png);
    text-indent: -9999px;
}

.modal_keyword {
    width: 400px;
    height: 40px;
    margin: 25px 50px 5px 50px ;
}

.modal_url {
    width: 400px;
    height: 50px;
    margin: 5px 50px 5px 50px;
}

.modal_submit {
    width: 250px;
    height: 30px;
    margin: 15px 125px 5px 125px;
    background-color: white;
    border: 2px solid black;
}

.modal_submit:hover {
    background-color: black;
    border: 2px solid black;
    color: white;
}

.post_zone {
    width: 55%;
    height: 1000px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    border: 2px solid black;
}

.post_asmr {
    width: 90%;
    height: 150px;
    background-color: darkgray;
    margin-top: 20px;
    border: 2px solid black;
}

.thumbnail {
    width: 160px;
    height: 130px;
    object-fit: cover;

    border-radius: 3px;
    margin: 10px 10px 10px 10px;
    float:left
}

.info {
    margin: 10px 10px 10px 10px;
}

