<!DOCTYPE html>
<html lang="en">
<head>
    <title>SO:EUM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/static/css/header.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <script>
        function logout() {
            $.removeCookie('mytoken', { path: '/post' });
            alert('로그아웃!')
            window.location.href = '/';
        }
    </script>
</head>

<body>
    <div class="header_wrap">
        <div class="logo" onclick="location.href='/post'">SO:EUM</div>
        <span>
            <span class="name">{{ user_info.nick_name }} 님</span>
            <button class="logout" onclick="logout()">로그아웃</button>
        </span>
    </div>
</body>
</html>